@tailwind base;
@tailwind components;
@tailwind utilities;

/* Hide Scroll Bar In Website */
body {
  overflow-y: scroll;
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* Internet Explorer 10+ */
}
body::-webkit-scrollbar {
  /* WebKit */
  width: 0;
  height: 0;
}
/* Hide the scrollbar for webkit-based browsers */
::-webkit-scrollbar {
  width: 0.5em;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: transparent;
}

/* Hide the scrollbar for Firefox */
/* Note: Firefox only supports hiding the scrollbar using the `scrollbar-width` property from version 64 onwards */
/* For older versions, the scrollbar may still be visible */
/* You can remove the `scrollbar-width` property to support older Firefox versions */
* {
  scrollbar-width: none;
}

/* For when we click and blue background appear to hide that */
* {
  -webkit-tap-highlight-color: transparent;
}
html {
  scroll-behavior: smooth;
}
/* error page animation*/
article {
  animation: glitch 1s linear infinite;
}

@keyframes glitch {
  2%,
  64% {
    transform: translate(2px, 0) skew(0deg);
  }
  4%,
  60% {
    transform: translate(-2px, 0) skew(0deg);
  }
  62% {
    transform: translate(0, 0) skew(5deg);
  }
}

article:before,
article:after {
  content: attr(title);
  position: absolute;
  left: 0;
}

article:before {
  animation: glitchTop 1s linear infinite;
  clip-path: polygon(0 0, 100% 0, 100% 33%, 0 33%);
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 33%, 0 33%);
}

@keyframes glitchTop {
  2%,
  64% {
    transform: translate(2px, -2px);
  }
  4%,
  60% {
    transform: translate(-2px, 2px);
  }
  62% {
    transform: translate(13px, -1px) skew(-13deg);
  }
}

article:after {
  animation: glitchBotom 1.5s linear infinite;
  clip-path: polygon(0 67%, 100% 67%, 100% 100%, 0 100%);
  -webkit-clip-path: polygon(0 67%, 100% 67%, 100% 100%, 0 100%);
}

@keyframes glitchBotom {
  2%,
  64% {
    transform: translate(-2px, 0);
  }
  4%,
  60% {
    transform: translate(-2px, 0);
  }
  62% {
    transform: translate(-22px, 5px) skew(21deg);
  }
}
/* home textx animatoion */
.animation {
  display: block;
  animation: reveal 1200ms cubic-bezier(0.77, 0, 0.175, 1) 0s;
}

@keyframes reveal {
  0% {
    transform: translate(0, 100%);
  }
  100% {
    transform: translate(0, 0);
  }
}
