@tailwind base;
@tailwind components;
@tailwind utilities;

/* Hide Scroll Bar In Website */
body {
  overflow-y: scroll;
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* Internet Explorer 10+ */
}
body::-webkit-scrollbar {
  /* WebKit */
  width: 0;
  height: 0;
}
/* Hide the scrollbar for webkit-based browsers */
::-webkit-scrollbar {
  width: 0.5em;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: transparent;
}

/* Hide the scrollbar for Firefox */
/* Note: Firefox only supports hiding the scrollbar using the `scrollbar-width` property from version 64 onwards */
/* For older versions, the scrollbar may still be visible */
/* You can remove the `scrollbar-width` property to support older Firefox versions */
* {
  scrollbar-width: none;
}

/* For when we click and blue background appear to hide that */
* {
  -webkit-tap-highlight-color: transparent;
}
html {
  scroll-behavior: smooth;
}